.response_flex {
    display: flex;
    flex-direction: column;
    border: 1px solid #0d6efd;
    border-radius: 20px;
    padding: 15px 15px;
    margin-bottom: 10px;
}

.response_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    justify-content: left;
}

.response_header {
    font-weight: bold;
    text-align: left;
}

.response_date-label {
    text-align: right;
}