.flex {
    display: flex;
    flex-direction: column;
    border: 1px solid #0d6efd;
    border-radius: 20px;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    justify-content: left;
}

.header {
    font-weight: bold;
    text-align: left;
}

.date-label {
    text-align: right;
}